function joi 0 INT
push constant 5 INT
pop local 14 INT
push constant 10 INT
pop local 15 INT
pop local 16 int
push local 14 INT
push local 15 INT
add
pop local 16 INT
push constant "Sum: " STR
push data "Sum: " STR
push local 16 INT
push data sum INT
push data \n STR
push constant 3 INT
push constant 4 INT
add
push constant 5 INT
add
push data 3 INT
push data \n STR
push constant 0 INT
return
halt
