function factorial 1 INT
push argument n int
push local 21 INT
push constant 0 INT
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1 INT
return
goto IF_END6
label IF_FALSE6
label IF_END6
push local 21 INT
push local 21 INT
push constant 1 INT
sub
call factorial 1
mul
return
function joi 0 INT
push constant 7 INT
pop local 23 INT
push constant "Factorial: " STR
push data "Factorial: " STR
push local 23 INT
call factorial 1
push data factorial INT
push data \n STR
push constant 0 INT
return
halt
