function factorial 1 INT
push argument n int
push local 39 INT
push constant 0 INT
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 1 INT
return
goto IF_END11
label IF_FALSE11
label IF_END11
push local 39 INT
push local 39 INT
push constant 1 INT
sub
call factorial 1
mul
return
function joi 0 INT
push constant 7 INT
pop local 41 INT
push constant "Factorial: " STR
push data "Factorial: " STR
push local 41 INT
call factorial 1
push data factorial INT
push data \n STR
push constant 0 INT
return
halt
