function joi 0 INT
push constant 10.5 FLOAT
pop local 0 FLOAT
pop local 1 int
pop local 1 INT
push constant "Float: " STR
push data "Float: " STR
push local 0 INT
push data floatValue INT
push constant ", Integer: " STR
push data ", Integer: " STR
push local 1 INT
push data intValue INT
push data \n STR
push constant 0 INT
return
halt
